/* CSS Layout - The position Property - Maquetación CSS - La propiedad position */
/*
    La propiedad position especifica el tipo de método de posicionamiento utilizado para un elemento (static, relative, fixed, absolute o sticky).
*/

/* The position Property - La propiedad position */
/*
    La propiedad position especifica el tipo de método de posicionamiento utilizado para un elemento.
    Existen cinco valores de posición diferentes:
    > static
    > relative
    > fixed
    > absolute
    > sticky

    A continuación, los elementos se posicionan mediante las propiedades top, bottom, left y right. Sin embargo, estas propiedades no funcionarán a menos que primero se establezca la propiedad position. También funcionan de forma diferente dependiendo del valor de posición.
*/


/* postion: static; - posición: estática; */
/*
    Los elementos HTML se posicionan de forma estática por defecto.
    Los elementos posicionados estáticamente no se ven afectados por las propiedades superior, inferior, izquierda y derecha.
    Un elemento con position: static; no se posiciona de ninguna manera especial; siempre se posiciona según el flujo normal de la página:

    Este elemento <div> tiene posición: estático;

    Ejemplo 
    div.static {
        position: static;
        border: 3px solid #73AD21;
    }
*/
div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

/* position: relative; - posición: relativa; */
/*
    Un elemento con position: relative; se posiciona respecto a su posición normal.
    La configuración de las propiedades superior, derecha, inferior e izquierda de un elemento con posición relativa hará que se ajuste fuera de su posición normal. El resto del contenido no se ajustará para encajar en el hueco dejado por el elemento.

    Este elemento <div> tiene posición: relativa;

    Ejemplo
    div.relative {
        position: relative;
        left: 30px;
        border: 3px solid #73AD21;
    }
*/
/* Posicionamiento relativo - se posiciona en relacion al posicionamiento original*/
.relative{
    position: relative;
    left: 80px;
    margin-left: 10px;
}


/* position: fixed; - posición: fija; */
/*
    Un elemento con position: fixed; se posiciona en relación a la ventana gráfica, lo que significa que siempre permanece en el mismo lugar aunque se desplace la página. Las propiedades top, right, bottom e left se utilizan para posicionar el elemento.
    Un elemento fijo no deja un hueco en la página donde normalmente estaría situado.

    Ejemplo
    div.fixed {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;
        border: 3px solid #73AD21;
    }
*/
/*Posicionamiento fijo - se posiciona en relacion a la pantalla */
.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10;
}

/*position: absolute; - posición: absoluta;*/
/*
    Un elemento con position: absolute; se posiciona en relación al ancestro posicionado más cercano (en lugar de posicionarse en relación a la ventana gráfica, como fixed).
    Sin embargo, si un elemento con posición absoluta no tiene ancestros posicionados, utiliza el cuerpo del documento y se desplaza con el desplazamiento de la página.
    Nota: Los elementos posicionados absolutos se eliminan del flujo normal y pueden superponerse a otros elementos.

    Ejemplo
    div.relative {
        position: relative;
        width: 400px;
        height: 200px;
        border: 3px solid #73AD21;
    }

    div.absolute {
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        height: 100px;
        border: 3px solid #73AD21;
    }
*/
/* Posicionamiento absoluto */
.absolute{
    position: absolute;
    top: 0px;
    right: 0px;
}

.relative.contenedor{
    width: 300px;
    height: 400px;
    background-color: blue;
}

/* position: sticky; - posición: pegajoso; */
/*
    Un elemento con position: sticky; se posiciona en función de la posición de desplazamiento del usuario.
    Un elemento sticky alterna entre relative y fixed, dependiendo de la posición de desplazamiento. Se posiciona de forma relativa hasta que se alcanza una determinada posición de desplazamiento en la ventana gráfica.

    Nota: Internet Explorer no admite el posicionamiento pegajoso. Safari requiere un prefijo -webkit- (véase el ejemplo siguiente). También debe especificar al menos una de las opciones arriba, derecha, abajo o izquierda para que funcione el posicionamiento fijo.

    En este ejemplo, el elemento sticky se pega a la parte superior de la página (top: 0), cuando alcanza su posición de desplazamiento.

    Ejemplo
    div.sticky {
        position: -webkit-sticky; /* Safari *
        position: sticky;
        top: 0;
        background-color: green;
        border: 2px solid #4CAF50;
    }
*/
/* Posicionamiento "pegajoso" - Al hacer scroll modifica su posicionamiento relative->fixed */
.sticky {
    position: sticky;
    background-color: darksalmon;
    color: white;
    top: 0px;
    z-index: 2;
}