/*Colores CSS*/
/*
Los colores se especifican utilizando nombres de color predefinidos, o valores RGB, HEX, HSL, RGBA, HSLA.
*/

/*PREDEFINIDO*/
/*En CSS, se puede especificar un color utilizando un nombre de color predefinido*/
.colores {
    color: red;
}

/*HEXADECIMAL*/
/*
Un color hexadecimal se especifica con: #RRGGBB, donde los enteros hexadecimales RR (rojo), GG (verde) y BB (azul) especifican los componentes del color.
*/
/*Valor HEX*/
/*
En CSS, se puede especificar un color utilizando un valor hexadecimal de la forma:
#rrggbb

Donde rr (rojo), gg (verde) y bb (azul) son valores hexadecimales entre 00 y ff (igual que el decimal 0-255).
Por ejemplo, #ff0000 se muestra como rojo, porque el rojo está ajustado a su valor más alto (ff) y los otros están ajustados al valor más bajo (00).
Para mostrar el color negro, ajuste todos los valores a 00, así: #000000.
Para mostrar el color blanco, establezca todos los valores en ff, así: #ffffff.
*/
.color-hexadecimal{
    color: #BCE784;
}
/*Valor HEX de 3 dígitos*/
/*
A veces verá un código hexadecimal de 3 dígitos en la fuente CSS.
El código hexadecimal de 3 dígitos es una abreviatura de algunos códigos hexadecimales de 6 dígitos.
El código hexadecimal de 3 dígitos tiene la siguiente forma:

#rgb

Donde r, g y b representan los componentes rojo, verde y azul con valores entre 0 y f.
El código hexadecimal de 3 dígitos sólo puede utilizarse cuando ambos valores (RR, GG y BB) son iguales para cada componente. Así, si tenemos #ff00cc, se puede escribir así: #f0c.
He aquí un ejemplo:

body {
    background-color: #fc9; /*igual que #ffcc99
}

h1 {
    color: #f0f; /* igual que #ff00ff
}

p {
    color: #b58; /* igual que #bb5588
}
*/

/*RGB*/
/*
Un valor de color RGB representa las fuentes de luz RED(ROJA), GREEN(VERDE) y BLUE(AZUL).
*/
/*Valor RGB*/
/*
En CSS, un color puede especificarse como un valor RGB, utilizando esta fórmula:

rgb(red, green, blue)

Cada parámetro (red, green y blue) define la intensidad del color entre 0 y 255.
Por ejemplo, rgb(255, 0, 0) se muestra como rojo, porque el rojo está ajustado a su valor más alto (255) y los otros están ajustados a 0.
Para mostrar el negro, ajuste todos los parámetros de color a 0, así: rgb(0, 0, 0).
Para mostrar el blanco, ajuste todos los parámetros de color a 255, así: rgb(255, 255, 255).
*/
.color-rgb {
    color: rgb(53, 71, 226);
}

/*Valor RGBA*/
/*
Los valores de color RGBA son una extensión de los valores de color RGB con un canal alfa, que especifica la opacidad de un color.
Un valor de color RGBA se especifica con:

rgba(red, green, blue, alpha)

El parámetro alfa es un número comprendido entre 0,0 (totalmente transparente) y 1,0 (nada transparente)
*/
.color-rgba {
    color: rgba(10, 10, 10, 0.85);
}

/*HSL*/
/*
HSL significa hue(tono), saturation(saturación) y lightness(luminosidad).
*/
/*Valor HSL*/
/*
En CSS, se puede especificar un color utilizando el tono, la saturación y la luminosidad (HSL) en el formulario:

hsl(hue, saturation, ligthtness)

El tono es un grado en la rueda de color de 0 a 360. 0 es rojo, 120 es verde y 240 es azul. 0 es rojo, 120 es verde y 240 es azul.

La saturación es un valor porcentual. 0% significa un tono de gris, y 100% es el color completo.

La luminosidad también es un porcentaje. 0% es negro, 50% no es ni claro ni oscuro, 100% es blanco
*/
.color-hsl {
    color: hsl(190, 37%, 34%);
}

/*Valor HSLA*/
/*
Los valores de color HSLA son una extensión de los valores de color HSL con un canal alfa, que especifica la opacidad de un color.
Un valor de color HSLA se especifica con:

hsla(hue, saturation, ligthtness, alpha)

El parámetro alfa es un número comprendido entre 0,0 (totalmente transparente) y 1,0 (nada transparente)
*/
.color-hsla{
    color: hsla(107, 100%, 29%, 0.8);
}


/*BACKGROUND - fondos*/
/*
    Las propiedades CSS de background se utilizan para añadir efectos de fondo a los elementos.
*/

/*background-attachment*/
/*
    La propiedad background-attachment establece si una imagen de fondo se desplaza con el resto de la página o es fija.

    Sintaxis
    background-attachment: scroll|fixed|local|initial|inherit;

    Valores inmobiliarios
    
    * scroll   -> La imagen de fondo se desplazará con la página. Por defecto
    * fixed    -> La imagen de fondo no se desplazará con la página
    * local    -> La imagen de fondo se desplazará con el contenido del elemento
    * initial  -> Establece esta propiedad a su valor por defecto.
    * inherit  -> Hereda esta propiedad de su elemento padre.
*/

/*background-blend-mode*/
/*
    La propiedad background-blend-mode define el modo de fusión de cada capa de fondo (color y/o imagen).

    Sintaxis
    background-blend-mode: normal|multiply|screen|overlay|darken|lighten|color-dodge|saturation|color|luminosity;

    Valores inmobiliarios
    > normal      -> Esto es por defecto. Establece el modo de fusión en normal
    > multiply    -> Establece el modo de fusión en multiplicar
    > screen      -> Establece el modo de fusión en pantalla
    > overlay     -> Establece el modo de fusión en superposición
    > darken      -> Establece el modo de fusión en oscuro
    > lighten     -> Establece el modo de fusión para aclarar
    > color-dodge -> Establece el modo de fusión en difuminar color
    > saturation  -> Establece el modo de fusión en saturación
    > color       -> Establece el modo de fusión en color
    > luminosity  -> Establece el modo de fusión en luminosidad
*/

/*background-clip*/
/*
    La propiedad background-clip define hasta dónde debe extenderse el fondo (color o imagen) dentro de un elemento.

    Sintaxis CSS
    background-clip: border-box|padding-box|content-box|initial|inherit;

    Valores inmobiliarios
    > border-box   ->  Valor por defecto. El fondo se extiende por detrás del borde
    > padding-box  ->  El fondo se extiende hasta el borde interior del borde
    > content-box  ->  El fondo se extiende hasta el borde de la caja de contenido
    > initial      ->  Establece esta propiedad a su valor por defecto.
    > inherit      ->  Hereda esta propiedad de su elemento padre.
*/

/*background-color*/
/*
    La propiedad background-color establece el color de fondo de un elemento.
    El fondo de un elemento es el tamaño total del elemento, incluyendo el relleno y el borde (pero no el margen).

    Consejo: Utilice un color de fondo y un color de texto que facilite la lectura del texto.

    Sintaxis
    background-color: color|transparent|initial|inherit;

    Valores inmobiliarios
    > color        ->  Especifica el color de fondo.
    > transparent  ->  Especifica que el color de fondo debe ser transparente. Este es el valor por defecto
    > initial      ->  Establece esta propiedad a su valor por defecto.
    > inherit      ->  Hereda esta propiedad de su elemento padre.
*/

/*background-image*/
/*
    La propiedad background-image establece una o más imágenes de fondo para un elemento.
    Por defecto, una imagen de fondo se coloca en la esquina superior izquierda de un elemento, y se repite tanto vertical como horizontalmente.
    
    Consejo: El fondo de un elemento es el tamaño total del elemento, incluyendo el relleno y el borde (pero no el margen).
    Consejo: Establezca siempre un color de fondo que se utilizará si la imagen no está disponible.

    Sintaxis
    background-image: url|none|initial|inherit;

    Valores inmobiliarios
    > url('URL')                   -> La URL de la imagen. Para especificar más de una imagen, separe las URL con una coma
    > none                         -> No se mostrará ninguna imagen de fondo. Esto es por defecto
    > conic-gradient()             -> Establece un gradiente cónico como imagen de fondo. Define al menos dos colores
    > linear-gradient()            -> Establece un gradiente lineal como imagen de fondo. Define al menos dos colores (de arriba a abajo)
    > radial-gradient()            -> Establece un degradado radial como imagen de fondo. Define al menos dos colores (del centro a los bordes)
    > repeating-conic-gradient()   -> Repite un degradado cónico 
    > repeating-linear-gradient()  -> Repite un gradiente lineal
    > repeating-radial-gradient()  -> Repite un degradado radial
    > initial                      -> Establece esta propiedad a su valor por defecto.
    > inherit                      -> Hereda esta propiedad de su elemento padre.
*/

/*background-origin*/
/*
    La propiedad background-origin especifica la posición de origen (el área de posicionamiento del fondo) de una imagen de fondo.
    Nota: Esta propiedad no tiene efecto si background-attachment es "fixed".

    Sintaxis
    background-origin: padding-box|border-box|content-box|initial|inherit;

    Valores inmobiliarios
    > padding-box  -> Valor por defecto. La imagen de fondo comienza desde la esquina superior izquierda del borde padding
    > border-box   -> La imagen de fondo comienza en la esquina superior izquierda del borde 
    > content-box  -> La imagen de fondo comienza en la esquina superior izquierda del contenido
    > initial      -> Establece esta propiedad a su valor por defecto.
    > inherit      -> Hereda esta propiedad de su elemento padre.
*/

/*background-position*/
/*
    La propiedad background-position establece la posición inicial de una imagen de fondo.
    Consejo: Por defecto, una imagen de fondo se coloca en la esquina superior izquierda de un elemento, y se repite tanto vertical como horizontalmente.

    Sintaxis CSS
    background-position: value;

    Valores inmobiliarios
    
    Value              Descripcion
    > left top         Si sólo especifica una palabra clave, el otro valor será "center".
      left center
      left bottom
      right top
      right center
      right bottom
      center top
      center center
      center bottom

    > x% y%             El primer valor es la posición horizontal y el segundo la vertical. La esquina superior izquierda es 0% 0%. La esquina inferior derecha es 100% 100%. Si sólo especifica un valor, el otro valor será 50%. El valor por defecto es 0% 0%
    > xpos ypos         El primer valor es la posición horizontal y el segundo la vertical. La esquina superior izquierda es 0 0. Las unidades pueden ser píxeles (0px 0px) o cualquier otra unidad CSS. Si sólo especifica un valor, el otro valor será 50%. Puede mezclar % y posiciones
    > initial           Establece esta propiedad a su valor por defecto.
    > inherit           Hereda esta propiedad de su elemento padre. ejm Establece el color del texto de los elementos <span> en azul, excepto los que están dentro de elementos con class="extra": 
                                                                        span {
                                                                            color: blue;
                                                                        }

                                                                        .extra span {
                                                                            color: inherit;

*/

/*background-position-x*/
/*
    La propiedad background-position-x establece la posición de una imagen de fondo en el eje x.
    Consejo: Por defecto, una imagen de fondo se coloca en la esquina superior izquierda de un elemento, y se repite tanto vertical como horizontalmente.

    Sintaxis
    background-position-x: value;

    Valores inmobiliarios
    > left        -> Posiciona el fondo a la izquierda en el eje x.
    > right       -> Posiciona el fondo a la derecha en el eje x.
    > center      -> Posiciona el centro del fondo en el eje x.
    > x%          -> El lado izquierdo es 0% en el eje x, y el lado derecho es 100%. El valor porcentual se refiere a la anchura del área de posicionamiento del fondo menos la anchura de la imagen de fondo.
    > xpos        -> Distancia horizontal desde el lado izquierdo. Las unidades pueden ser píxeles (0px) o cualquier otra unidad CSS.
    > xpos offset -> Sintaxis de dos valores, sólo compatible con Firefox y Safari.
                        - xpos se establece como "izquierda" o "derecha".
                        - offset es la distancia horizontal desde la imagen de fondo y el lado "izquierdo" o "derecho" establecido con xpos. Las unidades pueden ser píxeles o cualquier otra unidad CSS.
    > initial     -> Establece esta propiedad a su valor por defecto.
    > inherit     -> Hereda esta propiedad de su elemento padre.
*/

/*background-position-y*/
/*
    La propiedad background-position-y establece la posición de una imagen de fondo en el eje y.
    Consejo: Por defecto, una imagen de fondo se coloca en la esquina superior izquierda de un elemento, y se repite tanto vertical como horizontalmente.

    Sintaxis
    background-position-y: value;

    Valores inmobiliarios
    > top          -> Posiciona la parte superior del fondo en el eje y.
    > bottom       -> Posiciona el fondo en el eje y.
    > center       -> Posiciona el centro del fondo en el eje y.
    > y%           -> Top side is 0% on y-axis, and bottom side is 100%. Percentage value refers to height of background positioning area minus height of background image.
    > ypos         -> Distancia vertical desde la parte superior. Las unidades pueden ser píxeles (0px) o cualquier otra unidad CSS.
    > ypos offset  -> Sintaxis de dos valores, sólo compatible con Firefox y Safari.
                        - ypos se establece en "top" o "bottom".
                        - offset es la distancia vertical desde la imagen de fondo y el lado "superior" o "inferior" establecido con ypos. Las unidades pueden ser píxeles o cualquier otra unidad CSS.
    > initial      -> Establece esta propiedad a su valor por defecto.
    > inherit      -> Hereda esta propiedad de su elemento padre.
*/

/*background-repeat*/
/*
    La propiedad background-repeat establece si/como se repetirá una imagen de fondo.
    Por defecto, una imagen de fondo se repite tanto vertical como horizontalmente.
    Consejo: La imagen de fondo se coloca según la propiedad background-position. Si no se especifica background-position, la imagen siempre se coloca en la esquina superior izquierda del elemento.

    Sintaxis
    background-repeat: repeat|repeat-x|repeat-y|no-repeat|initial|inherit;

    Valores inmobiliarios
    > repeat     ->  La imagen de fondo se repite tanto vertical como horizontalmente.  La última imagen se recortará si no cabe. Por defecto
    > repeat-x   ->  La imagen de fondo se repite sólo horizontalmente
    > repeat-y   ->  La imagen de fondo se repite sólo verticalmente
    > no-repeat  ->  La imagen de fondo no se repite. La imagen sólo se mostrará una vez
    > space      ->  La imagen de fondo se repite todo lo posible sin recortes. La primera y la última imagen se fijan a ambos lados del elemento, y los espacios en blanco se distribuyen uniformemente entre las imágenes.
    > round      ->  La imagen de fondo se repite y se aplasta o estira para rellenar el espacio (sin espacios).
    > initial    ->  Establece esta propiedad a su valor por defecto.
    > inherit    ->  Hereda esta propiedad de su elemento padre.
*/

/*background-size*/
/*
    La propiedad background-size especifica el tamaño de las imágenes de fondo.
    Hay cuatro sintaxis diferentes que puede utilizar con esta propiedad: 
    > la sintaxis de palabra clave ("auto", "cover" y "contain"), 
    > la sintaxis de un valor (establece la anchura de la imagen (la altura se convierte en "auto"), 
    > la sintaxis de dos valores (primer valor: anchura de la imagen, segundo valor: altura) y 
    > la sintaxis de múltiples fondos (separados con coma).

    Sintaxis
    background-size: auto|length|cover|contain|initial|inherit;

    > auto        ->  Valor por defecto. La imagen de fondo se muestra en su tamaño original
    > length      ->  Establece la anchura y la altura de la imagen de fondo. El primer valor fija la anchura, el segundo la altura. Si sólo se da un valor, el segundo se establece en "auto".
    > percentage  ->  Establece la anchura y la altura de la imagen de fondo en porcentaje del elemento padre. El primer valor fija la anchura, el segundo la altura. Si sólo se da un valor, el segundo se establece en "auto".
    > cover       ->  Cambiar el tamaño de la imagen de fondo para que cubra todo el contenedor, aunque tenga que estirar la imagen o recortar un poco uno de los bordes.
    > contain     ->  Cambie el tamaño de la imagen de fondo para asegurarse de que la imagen sea totalmente visible.
    > initial     ->  Establece esta propiedad en su valor por defecto
    > inherit     ->  Establece esta propiedad en su valor por defecto
*/


.fondo {
    /*background-color*/
    /*
    La propiedad background-color especifica el color de fondo de un elemento.
    */
    background-color: cornflowerblue;

    /*background-image*/
    /*
    La propiedad background-image especifica una imagen para usar como fondo de un elemento.
    Por defecto, la imagen se repite para cubrir todo el elemento.
    */
    /*url externo - osea que ya esta en el interner*/
    background-image: url("https://www.encompasscorporation.com/wp-content/uploads/2015/09/example-background.jpg");

    /*background-position*/
    background-position: left bottom;
}

.fondo-interno{
    /*url local - osea que esta dentro del proyecto*/
    background-image: url("/multimedia/img/anochecer.jpg");
    background-position: left bottom;
}

/*-----------------------------------------------------*/

/* TAMAÑOS */
/*Altura(Height), Anchura(Width) y anchura máxima(Max-width) CSS*/
/*
Las propiedades CSS height y width se utilizan para establecer la altura y la anchura de un elemento.
La propiedad CSS max-width se utiliza para establecer la anchura máxima de un elemento.
*/

/* CSS Ajuste de altura(height) y anchura(width) */
/*
Las propiedades de height y width se utilizan para establecer la altura y la anchura de un elemento.
Las propiedades de height y width no incluyen el relleno, los bordes ni los márgenes. Establece la altura/anchura del área dentro del relleno(padding), borde(border) y margen(margin) del elemento.
*/

/*Valores CSS de altura(height) y anchura(width)*/
/*
Las propiedades height y width pueden tener los siguientes valores:
    > auto     -> Esto es por defecto. El navegador calcula la altura y la anchura
    > length   -> Define la altura/anchura en px, cm, etc.
    > %        -> Define la altura/anchura en porcentaje del bloque contenedor
    > initial  -> Establece la altura/anchura a su valor por defecto
    > inherit  -> La altura/anchura se heredará de su valor padre
*/

.ancho {
    background-color: #BCE784;
    width: 100px;
}

.alto {
    background-color: aquamarine;
    height: 200px;
}

/*-----------------------------------------------------*/

/*BORDER*/
/*
    Las propiedades de borde(border) CSS permiten especificar el estilo, la anchura y el color del borde de un elemento.
*/

/* Estilo de borde CSS */
/*
    La propiedad border-style especifica qué tipo de borde mostrar.

    Se permiten los siguientes valores:
    > dotted  ->  Define un borde punteado
    > dashed  ->  Define un borde discontinuo
    > solid   ->  Define un borde sólido
    > double  ->  Define un borde doble
    > groove  ->  Define un borde acanalado en 3D. El efecto depende del valor del color del borde
    > ridge   ->  Define un borde 3D estriado. El efecto depende del valor del color del borde
    > inset   ->  Define un borde recuadrado en 3D. El efecto depende del valor del color del borde
    > outset  ->  Define un borde exterior 3D. El efecto depende del valor del color del borde
    > none    ->  No define ningún borde
    > hidden  ->  Define un borde oculto

    La propiedad border-style puede tener de uno a cuatro valores
    > top border     -> borde superior
    > right border   -> borde derecho
    > bottom border  -> borde inferior
    > left border    -> borde izquierdo

*/

/* Anchura(width) del borde CSS */
/*
    La propiedad border-width especifica la anchura de los cuatro bordes.
    La anchura puede establecerse como un tamaño específico (en px, pt, cm, em, etc.) o utilizando uno de los tres valores predefinidos: thin(fino), medium(medio) o thick(grueso):

    Anchuras laterales específicas

    La propiedad border-width puede tener de uno a cuatro valores:
    > top border     -> borde superior
    > right border   -> borde derecho
    > bottom border  -> borde inferior
    > left border    -> borde izquierdo

    Ejemplo

    p.one {
        border-style: solid;
        border-width: 5px 20px; /* 5px arriba(top) y abajo(bottom), 20px a los lados 
    }

    p.two {
        border-style: solid;
        border-width: 20px 5px; /* 20px arriba(top) y abajo(bottom), 5px a los lados
    }

    p.three {
        border-style: solid;
        border-width: 25px 10px 4px 35px; /* 25px arriba(top), 10px derecha(right), 4px abajo(bottom) y 35px izquierda(left) 
    }
*/

/* Color del borde CSS */
/*
    La propiedad border-color se utiliza para establecer el color de los cuatro bordes.

    El color se puede establecer por:

    > name - especifica un nombre de color, como "red"
    > HEX - especifica un valor HEX, como "#ff0000"
    > RGB - especifique un valor RGB, como "rgb(255,0,0)"
    > HSL - especifique un valor HSL, como "hsl(0, 100%, 50%)"
    > transparente

    Nota: Si no se establece border-color, hereda el color del elemento.

    Colores laterales específicos

    La propiedad border-color puede tener de uno a cuatro valores:
    > top border     -> borde superior
    > right border   -> borde derecho
    > bottom border  -> borde inferior
    > left border    -> borde izquierdo

    Ejemplo

    p.one {
        border-style: solid;
        border-color: red green blue yellow; /* rojo arriba, verde a la derecha, azul abajo y amarillo a la izquierda
    }
*/

/* Borde CSS - Propiedad abreviada */
/*
    Para acortar el código, también es posible especificar todas las propiedades individuales de los bordes en una sola propiedad.
    La propiedad borde es una propiedad abreviada para las siguientes propiedades de borde individuales:

    > border-width
    > border-style (required)
    > border-color

    Ejemplo

    p {
        border: 5px solid red;
    }
*/

/* Bordes redondeados CSS */
/*
    La propiedad border-radius se utiliza para añadir bordes redondeados a un elemento:
    
    Ejemplo

    p {
        border: 2px solid red;
        border-radius: 5px;
    }
*/

/*-----------------------------------------------------*/

/*PADDING*/
/*
    El padding se utiliza para crear espacio alrededor del contenido de un elemento, dentro de los bordes definidos.
    Con CSS, tienes control total sobre el padding. Hay propiedades para establecer el padding para cada lado de un elemento (top(superior), right(derecho), bottom(inferior), y left(izquierdo)
*/

/* Padding - Lados individuales */
/*
    CSS tiene propiedades para especificar el padding de cada lado de un elemento:
    > padding-top
    > padding-right
    > padding-bottom
    > padding-left

    Todas las propiedades de padding pueden tener los siguientes valores:
    > length   ->  especifica un padding en px, pt, cm, etc.
    > %        ->  especifica un padding en % de la anchura del elemento contenedor
    > inherit  ->  especifica que el padding debe heredarse del elemento padre

    Nota: No se admiten valores negativos.

    Ejemplo
    Establece un relleno diferente para los cuatro lados de un elemento <div>:

    div {
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
    }
*/

/* Padding - Propiedad taquigráfica */
/*
    Para acortar el código, es posible especificar todas las propiedades de relleno en una sola propiedad.
    La propiedad padding es una propiedad abreviada para las siguientes propiedades individuales de relleno:

    > padding-right
    > padding-top
    > padding-bottom
    > padding-left

    Así es como funciona:

    Si la propiedad padding tiene cuatro valores:
    > padding: 25px 50px 75px 100px;
        - top padding es de 25px
        - right padding es de 50px
        - bottom padding es de 75px
        - left padding es de 100px

    Ejemplo
    Utilice la propiedad abreviada padding con cuatro valores:
    div {
        padding: 25px 50px 75px 100px;
    }

    Si la propiedad padding tiene tres valores:

    >padding: 25px 50px 75px;
        - top padding es de 25px
        - right y left paddings son de 50px
        - bottom padding es de 75px
    
    Ejemplo
    Utilice la propiedad abreviada padding con tres valores:
    div {
        padding: 25px 50px 75px;
    }

    Si la propiedad padding tiene dos valores:
    > padding: 25px 50px;
        - top y bottom paddings son de 25px
        - right y left paddings son de 50px
    
    Ejemplo
    Utilice la propiedad abreviada padding con dos valores:
    div {
        padding: 25px 50px;
    }

    Si la propiedad padding tiene un valor:
    >padding: 25px;
        - los cuatro paddings son de 25px

    Ejemplo
    Utilice la propiedad abreviada padding con un valor:
    div {
        padding: 25px;
    }
*/

/* Relleno(padding) y anchura(width) de los elementos */
/*
    La propiedad CSS width especifica la anchura del área de contenido del elemento. El área de contenido es la porción dentro del padding, border y margin de un elemento (el modelo de caja).
    Por lo tanto, si un elemento tiene una anchura(width) especificada, el relleno(padding) añadido a ese elemento se sumará a la anchura total del elemento. Esto es a menudo un resultado indeseable.

    Ejemplo
    Aquí, el elemento <div> tiene una anchura de 300px. Sin embargo, la anchura real del elemento <div> será de 350px (300px + 25px de relleno izquierdo + 25px de relleno derecho):

    div {
        width: 300px;
        padding: 25px;
    }

    Para mantener la anchura en 300px, sin importar la cantidad de relleno(padding), puede utilizar la propiedad box-sizing. Esto hace que el elemento mantenga su anchura real; si aumenta el relleno(padding), el espacio de contenido disponible disminuirá.

    Ejemplo
    Utilice la propiedad box-sizing para mantener la anchura en 300px, sin importar la cantidad de relleno(padding):
    div {
        width: 300px;
        padding: 25px;
        box-sizing: border-box;
    }
*/

/*-----------------------------------------------------*/

/* MARGIN */
/*
    Las propiedades de marrgin CSS se utilizan para crear espacio alrededor de los elementos, fuera de los bordes definidos.
    Con CSS, tienes control total sobre los márgenes. Hay propiedades para establecer el margen para cada lado de un elemento (top(superior), right(derecho), bottom(inferior) y left(izquierdo)).
*/

/* Margin - Lados individuales */
/* 
    CSS tiene propiedades para especificar el margen de cada lado de un elemento:
    > margin-top
    > margin-right
    > margin-bottom
    > margin-left

    Todas las propiedades de margen pueden tener los siguientes valores:
    > auto     ->  el navegador calcula el margen
    > length   ->  especifica un margen en px, pt, cm, etc.
    > %        ->  especifica un margen en % de la anchura del elemento contenedor
    > inherit  ->  especifica que el margen debe heredarse del elemento padre

    Consejo: Se admiten valores negativos.

    Ejemplo
    Establecer márgenes diferentes para los cuatro lados de un elemento <p>:

    p {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
    }
*/

/* Margin - Propiedad taquigráfica */
/*
    Para acortar el código, es posible especificar todas las propiedades de margen en una sola propiedad.
    La propiedad margin es una propiedad abreviada para las siguientes propiedades de margen individuales:

    > margin-top
    > margin-right
    > margin-bottom
    > margin-left

    Así es como funciona:

    Si la propiedad margin tiene cuatro valores:
    > margin: 25px 50px 75px 100px;
        - top margin is 25px
        - right margin is 50px
        - bottom margin is 75px
        - left margin is 100px
    
    Ejemplo
    Utilice la propiedad abreviada margin con cuatro valores:

    p {
        margin: 25px 50px 75px 100px;
    }

    Si la propiedad margin tiene tres valores:
    > margin: 25px 50px 75px;
        - top margin es 25px
        - right y left margins son de 50px
        - bottom margin es 75px
    
    Ejemplo
    Utilice la propiedad abreviada margin con tres valores:

    p {
        margin: 25px 50px 75px;
    }

    Si la propiedad margin tiene dos valores:
    > margin: 25px 50px;
        - top y bottom margins son de 25px
        - right y left margins son de 50px

    Ejemplo
    Utilice la propiedad abreviada margin con dos valores:

    p {
        margin: 25px 50px;
    }

    Si la propiedad margin tiene un valor:
    > margin: 25px;
        los cuatro márgenes son 25px

    Ejemplo
    Utilice la propiedad abreviada margin con un valor:

    p {
        margin: 25px;
    }
*/

/* El autovalor(auto Value) */
/*
    Puede establecer la propiedad margin en auto para centrar horizontalmente el elemento dentro de su contenedor.
    El elemento ocupará entonces la anchura especificada, y el espacio restante se dividirá a partes iguales entre los márgenes izquierdo y derecho.

    Ejemplo
    Utilizar margin: auto:

    div {
        width: 300px;
        margin: auto;
        border: 1px solid red;
    }
*/

/* El valor heredado */
/*
    Este ejemplo permite que el margen izquierdo del elemento <p class="ex1"> se herede del elemento padre (<div>):

    div {
        border: 1px solid red;
        margin-left: 100px;
    }

    p.ex1 {
        margin-left: inherit;
    }
*/

.tarjeta{
    border-style: solid;
    border-color: rgb(150, 150, 150);
    border-width: 1px;
    /*border-top: none;*/
    padding: 10px 20px;
    /*padding: 10px 20px 30px 40px;*/
    margin: 10px 20px;
    /*margin: 10px 20px 30px 40px;*/
}