/*Colores CSS*/
/*
Los colores se especifican utilizando nombres de color predefinidos, o valores RGB, HEX, HSL, RGBA, HSLA.
*/

/*PREDEFINIDO*/
/*En CSS, se puede especificar un color utilizando un nombre de color predefinido*/
.colores {
    color: red;
}

/*HEXADECIMAL*/
/*
Un color hexadecimal se especifica con: #RRGGBB, donde los enteros hexadecimales RR (rojo), GG (verde) y BB (azul) especifican los componentes del color.
*/
/*Valor HEX*/
/*
En CSS, se puede especificar un color utilizando un valor hexadecimal de la forma:
#rrggbb

Donde rr (rojo), gg (verde) y bb (azul) son valores hexadecimales entre 00 y ff (igual que el decimal 0-255).
Por ejemplo, #ff0000 se muestra como rojo, porque el rojo está ajustado a su valor más alto (ff) y los otros están ajustados al valor más bajo (00).
Para mostrar el color negro, ajuste todos los valores a 00, así: #000000.
Para mostrar el color blanco, establezca todos los valores en ff, así: #ffffff.
*/
.color-hexadecimal{
    color: #BCE784;
}
/*Valor HEX de 3 dígitos*/
/*
A veces verá un código hexadecimal de 3 dígitos en la fuente CSS.
El código hexadecimal de 3 dígitos es una abreviatura de algunos códigos hexadecimales de 6 dígitos.
El código hexadecimal de 3 dígitos tiene la siguiente forma:

#rgb

Donde r, g y b representan los componentes rojo, verde y azul con valores entre 0 y f.
El código hexadecimal de 3 dígitos sólo puede utilizarse cuando ambos valores (RR, GG y BB) son iguales para cada componente. Así, si tenemos #ff00cc, se puede escribir así: #f0c.
He aquí un ejemplo:

body {
    background-color: #fc9; /*igual que #ffcc99
}

h1 {
    color: #f0f; /* igual que #ff00ff
}

p {
    color: #b58; /* igual que #bb5588
}
*/

/*RGB*/
/*
Un valor de color RGB representa las fuentes de luz RED(ROJA), GREEN(VERDE) y BLUE(AZUL).
*/
/*Valor RGB*/
/*
En CSS, un color puede especificarse como un valor RGB, utilizando esta fórmula:

rgb(red, green, blue)

Cada parámetro (red, green y blue) define la intensidad del color entre 0 y 255.
Por ejemplo, rgb(255, 0, 0) se muestra como rojo, porque el rojo está ajustado a su valor más alto (255) y los otros están ajustados a 0.
Para mostrar el negro, ajuste todos los parámetros de color a 0, así: rgb(0, 0, 0).
Para mostrar el blanco, ajuste todos los parámetros de color a 255, así: rgb(255, 255, 255).
*/
.color-rgb {
    color: rgb(53, 71, 226);
}

/*Valor RGBA*/
/*
Los valores de color RGBA son una extensión de los valores de color RGB con un canal alfa, que especifica la opacidad de un color.
Un valor de color RGBA se especifica con:

rgba(red, green, blue, alpha)

El parámetro alfa es un número comprendido entre 0,0 (totalmente transparente) y 1,0 (nada transparente)
*/
.color-rgba {
    color: rgba(10, 10, 10, 0.85);
}

/*HSL*/
/*
HSL significa hue(tono), saturation(saturación) y lightness(luminosidad).
*/
/*Valor HSL*/
/*
En CSS, se puede especificar un color utilizando el tono, la saturación y la luminosidad (HSL) en el formulario:

hsl(hue, saturation, ligthtness)

El tono es un grado en la rueda de color de 0 a 360. 0 es rojo, 120 es verde y 240 es azul. 0 es rojo, 120 es verde y 240 es azul.

La saturación es un valor porcentual. 0% significa un tono de gris, y 100% es el color completo.

La luminosidad también es un porcentaje. 0% es negro, 50% no es ni claro ni oscuro, 100% es blanco
*/
.color-hsl {
    color: hsl(190, 37%, 34%);
}

/*Valor HSLA*/
/*
Los valores de color HSLA son una extensión de los valores de color HSL con un canal alfa, que especifica la opacidad de un color.
Un valor de color HSLA se especifica con:

hsla(hue, saturation, ligthtness, alpha)

El parámetro alfa es un número comprendido entre 0,0 (totalmente transparente) y 1,0 (nada transparente)
*/
.color-hsla{
    color: hsla(107, 100%, 29%, 0.8);
}
